<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Книга</title>
</head>
<body>

	<h3
		th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYearOfWriting()}">Book</h3>
	<hr>

	<div th:if="${person == null}">
		<h4>Это книга свободна. Кому назначить ее?</h4>
		<form th:method="PATCH"
			th:action="@{/books/{id}/add (id=${book.getBookId()})}">
			<label for="man">Выберите человека:</label> <select
				th:object="${man}" th:field="*{personId}" id="man">
				<option th:each="man : ${people}" th:value="${man.getPersonId()}"
					th:text="${man.getName()}"></option>
			</select> <input type="submit" value="Назначить книгу">
		</form>
	</div>

	<div th:unless="${person == null}">
		<h4 th:text="'Книга сейчас у: ' + ${person.getName()}"></h4>
		<form th:method="PATCH"
			th:action="@{/books/del/{id} (id=${book.getBookId()})}">
			<input type="submit" value="Освободить книгу">
		</form>
	</div>




	<hr>
	<a th:href="@{/books/{id}/edit (id=${book.getBookId()})}">Редактировать</a>

	<form th:method="DELETE"
		th:action="@{/books/{id} (id=${book.getBookId()})}">
		<input type="submit" value="Удалить">
	</form>

	<br>
	<hr>
	<a href="/people">Список пользователей</a>
	<br>
	<a href="/books">Список книг</a>

</body>
</html>